@import url("colour.css");
/* Carousel */

.slideshow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slideshow h2 {
  font-size: 2.25rem;
}
.slideshow img {
	width: 100%;
	height: 25vw;
	object-fit: cover;
}

label{
	color: var(--white); /* Set the text color of the label to white */
	transition: transform 400ms ease-out; /* Set the transition effect for the label when it moves */
	display: inline-block; /* Display the label as an inline-block element */
	min-height: 100%; /* Set the minimum height of the label to 100% of the parent element */
	width: 100%; /* Set the width of the label to 100% of the viewport width */
	height: 100%; /* Set the height of the label to 100% of the viewport height */
	position: relative; /* Position the label relative to its normal position */
	z-index: 1; /* Set the stack order of the label to 1 */
	text-align: center; /* Align the text of the label to the center */
	line-height: 10vh; /* Set the line height of the label to match its height */ 
	
	background: var(--CarouselBG1);
	background-size: 100% auto;
	font-size: 2rem;
	background-image: url("Images/Caro-01.png");
	background-position: center center;/* Align the image to the center  */
	background-repeat: no-repeat;
}

form {
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
}
input {
	position: absolute;
}

.keys {
	position: fixed;	/* Position the keys element fixed within the viewport */
	z-index: 10;		/* Set the stack order of the keys element to 10 */
	bottom: 0;			/* Set the bottom edge of the keys element to 0 */
	left: 0;			/* Set the left edge of the keys element to 0 */
	right: 0;			/* Set the right edge of the keys element to 0 */
	padding: 1rem;		/* Add some padding around the keys element */
	color: var(--white);		/* Set the text color of the keys element to white */
	text-align: center;	/* Align the text of the keys element to the center */
	transition: all 300ms linear;	/* Set a transition effect for all properties of the keys element */
	opacity: 0;			/* Set the initial opacity of the keys element to 0 (invisible) */
}

input:focus ~ .keys {
	opacity: 0.8;	/* Select the element with the class keys that is a sibling of an input element that is in focus, and set its opacity to 0.8 */
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3){
   z-index: 0;	/* Select the label elements that are siblings of the input elements that are checked, and match their order (first, second, third, or fourth), and set their z-index to 0 */
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);	/* Set its transform property to translate3d(0, 0, 0), which means no translation */ 
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);	/* Translate it to the left by 100% of its width */
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

label[for="2"]{
/*label[calc(attr(for)%2=0)] {*/
	background: var(--CarouselBG2);
	background-image: url("Images/Caro-02.png");
	background-size: 100% auto;
	font-size: 2rem;
	background-position: center center; /* Align the image to the center */
	background-repeat: no-repeat;
}

label[for="3"]{
/*label[calc(attr(for)%2=0)] {*/
	background: var(--CarouselBG2);
	background-image: url("Images/Caro-03.png");
	background-size: 100% auto;
	font-size: 2rem;
	background-position: center center; /* Align the image to the center */
	background-repeat: no-repeat;
}

label:before,
label:after {
	color: var(--white);
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
}

@media (min-width: 320px) {
	form {
		height: 50vw;
	}
	
	label{
	background-size: auto 100%;
	}
}

@media (min-width: 1281px) {
	form {
		height: 25vw;
	}
	
	label{
	background-size: 100% auto;
	}
}

